.listCourse-panel {
	max-height:600px;
	overflow-y: auto;
}

.table, .list-group {
	margin-bottom:0px;
}

.liste {
	max-height:499.6px;
}

.table-liste {
	overflow-y:auto;
	max-height:440px;
}

.add {
	width:100%;
	height:45px;
}

.panel-meal{
	max-height:400px;
	overflow-y:auto;
}

.table-newMeal{
	max-height:392px;
	overflow-y:auto;
}